* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #ebf2ff;
}

.navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.navbar__brand {
  width: 70px;
}

.navbar__logo {
  width: 100%;
}

.button__primary {
  background-image: linear-gradient(
    to right,
    #dd2476 0%,
    #ff512f 51%,
    #dd2476 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 10px;
}

.button__primary:hover {
  border: 2px solid #B9005B;
  cursor: pointer;
}

.container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.hero__image__container {
  width: 100%;
}

.hero__image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__text {
  font-weight: 800;
  font-size: 30px;
  margin: 20px 0;
  color: #2d3557;
}

.explore__menu__text {
  margin: 30px  0 20px 0;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  color: #2d3557;
}

.food__card__description {
  padding: 20px;
}

.food__card {
  background-color: #D6EFED;
}

.food__card__image__container {
  width: 100%;
}

.food__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.kitchen__card_container {
  padding: 30px 0 30px 0;
  /* background-color: #EFEAD8 */
}

.kitchen__card__text {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  color: #2d3557;
}

.kitchen__card__images__one {
  width: 50%;
}

.kitchen__card__one {
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 25px 10px -20px #000;
}

.kitchen__card__images__two {
  width: 50%;
}

.kitchen__card__two {
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 25px 10px -20px #000;
}

.kitchen__card__images__three {
  width: 50%;
}

.kitchen__card__three {
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 25px 10px -20px #000;
}

.kitchen__card__images__four {
  width: 50%;
}

.kitchen__card__four {
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 25px 10px -20px #000;
}

.kitchen__card__images__up {
  display: flex;
  gap: 10px;
  align-items: baseline;
  padding: 20px 10px 0 10px;
}

.kitchen__card__images__down {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding: 0 10px;
}

.page__footer {
  background-image: linear-gradient(
    to right,
    #dd2476 0%,
    #ff512f 51%,
    #dd2476 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
}

.page__footer__class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-weight: 800;
  color: #2d3557
}

.footer__brand {
  width: 50px;
}

.footer__logo {
  width: 100%;
  border-radius: 25px;
}

.footer__form__feedback {
  padding: 4px;
  border: 1.5px solid #B9005B;
}

.footer__form__submit {
  padding: 4px;
  font-weight: bold;
  border: 1.5px solid #B9005B;
  cursor: pointer;
}

@media (min-width: 768px) {
  .explore__menu__lists {
    display: flex;
    gap: 15px;
    padding: 0 50px;
    padding-bottom: 50px;
 }

  .navbar {
    justify-content: space-between;
    padding: 5px 30px;
  }

  .hero__container {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

    #food__item__2 {
      margin-top: -20px;
      margin-bottom: 30px;
    }

    .explore__menu__container {
      position: relative;
      z-index: 1;
    }

    .explore__menu__gradient__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        #dd2476 0%,
        #ff512f 51%,
        #dd2476 100%
        );
      z-index: -1;
      transform: skewY(-5deg);
    }

    .explore__menu__text {
      margin-top: 60px;
      margin-bottom: 30px;
    }

    .kitchen__card_container {
      margin-top: 40px;
      padding: 0 30px;
    }

    .kitchen__card {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .page__footer__class {
      justify-content: space-around;
    }

    .footer__text {
      font-size: 24px;
    }

    .footer__form__feedback {
      padding: 8px;
      border: 1px solid #B9005B;
    }

    .footer__form__submit {
      padding: 8px;
      border: 2px solid #B9005B;
      cursor: pointer;
    }
}

@media (min-width: 1024px) {
.container {
  max-width: 70%;
}

.explore__menu__lists {
  gap: 25px;
}

  .navbar__brand {
    width: 90px;
  }

  .button__primary {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
  }

  .hero__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .hero__description {
    width: 100%;
  }

  .hero__text {
    font-size: 38px;
  }

  .explore__menu__text {
    font-size: 42px;
  }

  .explore__menu__container {
    margin-top: 70px;
  }

  .footer__text {
    font-size: 26px;
  }
}
