* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #ebf2ff;
}

.navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.navbar__brand {
  width: 70px;
}

.navbar__logo {
  width: 100%;
}

.button__primary {
  background-image: linear-gradient(
    to right,
    #dd2476 0%,
    #ff512f 51%,
    #dd2476 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 10px;
}

.button__primary:hover {
  border: 2px solid #B9005B;
  cursor: pointer;
}

.container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.hero__image__container {
  width: 100%;
}

.hero__image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__text {
  font-weight: 800;
  font-size: 30px;
  margin: 20px 0;
  color: #2d3557;
}

.explore__menu__text {
  margin: 30px  0 20px 0;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  color: #2d3557;
}

.food_card_description {
  padding: 20px;
}

.food__card {
  background-color: #D6EFED;
}

.food__card__image__container {
  width: 100%;
}

.food__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 5px 30px;
  }

  .hero__container {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .explore__menu__lists {
    display: flex;
    gap: 15px;
  }
}

@media (min-width: 1024px) {
.container {
  max-width: 70%;
}

  .navbar__brand {
    width: 90px;
  }

  .button__primary {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
  }

  .hero__container {
    display: flex;
    justify-content: center;
  }

  .hero__description {
    width: 100%;
  }

  .hero__text {
    font-size: 38px;
  }
}
